@(bodega: play.data.Form[Bodega])(error: String)

@main("Crear Bodega"){
<div class="container">
    <div class="card">
        <div class="row" align="center">
            <br>
            <h3>Registrar nueva Bodega</h3>
            @helper.form(action=routes.BodegaController.addBodega, '_class ->"col s12" ){
            @helper.CSRF.formField
            <div clss ="row">
                <div class="input-field col s5" style="margin-left:60px;">
                    @helper.inputText(bodega("nombreSucursal"), 'required -> "requeired")
                </div>
                <div class="input-field col s5">
                    @helper.inputText(bodega("encargado"), 'required -> "required")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="submit" class="btn waves-effect waves-light" value="Crear">
                </div>
                <div class="input-field col s6">
                    <a class="btn waves-effect waves-light" href="@controllers.routes.BodegaController.index">Volver</a>
                </div>
            </div>

            <div class="row">
                <span style="color:red"><strong>@error</strong></span>
            </div>
            }
        </div>
        <br>

    </div>

</div>
}