@(producto: play.data.Form[Product])(nombreSucursal: String)(errors: String)

@main("Creando Producto"){

<div class="container">
    <div class="card">
        <div class="row" align="center">
            <br>
            <h3>Creando producto para: @nombreSucursal</h3>
            @helper.form(action=routes.ProductController.addProducto(nombreSucursal), 'enctype -> "multipart/form-data", '_class ->"col s12"){
            @helper.CSRF.formField
            <div class="row">
                <div class="input-field col s5" style="margin-left:60px;">
                    @helper.inputText(producto("nombre"), 'required -> "required")
                </div>
                <div class="input-field col s5">
                    @helper.inputText(producto("codVenta"),'required -> "required")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s5" style="margin-left:60px;">
                    @helper.inputText(producto("marca"),'required  -> "required")
                </div>
                <div class="input-field col s5">
                    @helper.inputText(producto("proveedor"), 'required -> "required")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s5" style="margin-left:60px;">
                    @helper.inputText(producto("stock"), 'required -> "required")
                </div>
                <div class="input-field col s5">
                    @helper.inputDate(producto("verificacion"), 'required -> "required")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input clas type="file"  name="urlFoto" required="required">
                </div>
            </div>
            <div class="input-field col s6">
                <input type="submit" class="btn waves-effect waves-light" value="Agregar Producto">
            </div>
            <div class="input-field col s6">
                <a class="btn waves-effect waves-light" href="@controllers.routes.BodegaController.show(nombreSucursal)">Volver</a>
            </div>
        </div>
        <div class="row" align="center">
            <span style="color:red"><strong>@errors</strong></span>
        </div>
        <div>
        </br>
        </div>
    </div>
</div>
    }
}