@(producto: play.data.Form[Product])(prod: models.Product)(errors: String)

@main("Editando Producto"){

<div class="container">
        <div class="card">
                <div class="row" align="center">
                        <br>
                        <h3>Editar Datos de @prod.getNombre() @prod.getCodVenta() </h3>
                        @helper.form(action=routes.ProductController.uploadProduct(prod.getBodega().getNombreSucursal(), prod.getCodVenta()), '_class ->"col s12"){
                        @helper.CSRF.formField
                        <div class="row">
                                <div class="input-field col s5" style="margin-left:60px;">
                                        @helper.inputText(producto("nombre"), 'required -> "required")
                                </div>
                                <div class="input-field col s5">
                                        @helper.inputText(producto("marca"), 'required -> "required")
                                </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s5" style="margin-left:60px;">
                                        @helper.inputText(producto("proveedor"), 'required -> "required")
                                </div>
                                <div class="input-field col s5">
                                        @helper.inputText(producto("stock"), 'required -> "required")
                                </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s5" style="margin-left:60px;">
                                        @helper.inputDate(producto("verificacion"), 'required -> "required")
                                </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s6">
                                        <input type="submit" class="btn waves-effect waves-light" value="Editar Producto">
                                </div>
                                <div class="input-field col s6">
                                        <a class="btn waves-effect waves-light" href="@controllers.routes.BodegaController.show(prod.getBodega().getNombreSucursal())">Volver</a>
                                </div>
                        </div>
                        <div class="row" align="center">
                                <span style="color:red"><strong>@errors</strong></span>
                        </div>
                        }
                        <br>
                </div>
        </div>
</div>
}