@(bodegas: List[models.Bodega])

@display(bodega: models.Bodega)={
            <h3>@bodega.getNombreSucursal() - @bodega.getEncargado()</h3>
<div class="section">
    @helper.form(action = controllers.routes.BodegaController.show(bodega.getNombreSucursal())){
    @helper.CSRF.formField
    <input type="submit" class="btn waves-effect waves-light" value="Mostrar Bodega" style="margin-top:30px;">
    }
</div>
            @if(!bodega.getProductos().isEmpty && bodega.getProductos().size() != 0){
            @for(p <- bodega.getProductos()){
            @if(p.getStock()>0){
            <div class="container">
                <div class="col s12 m7" >
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="@p.getUrlfoto()" width="300" height="300">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content" align="left">
                            <p>Nombre: @p.getNombre()</p>
                            <p>Codigo: @p.getCodVenta()</p>
                            <p>Cantidad en Inventario = @p.getStock()</p>
                            <p>Marca: @p.getMarca()</p>

                        </div>
                    </div>

                </div>
                </div>
            </div>
            </br>
            }
            }
            }
}

@main("Inicio"){
    @if(bodegas.isEmpty()){
<div class="container">
    <div class="card card grey lighten-5">
        <p align="center"><strong>No Existen Bodegas en el momento</strong></p>
    </div>
</div>

    }else{
        @for(bodega <- bodegas){
            <div class="container" align="center" style="margin-top:30px; margin-bottom:30px;">
                <div class="card grey lighten-5">
                    <br>
                    @display(bodega)
                </div>
            </div>
        }
    }
}