@(bodega: models.Bodega)

@main("Reporte"){
<div class="container ">
    <div class="card grey lighten-5">
        <br>
        @if(!bodega.getRegistros().isEmpty && bodega.getRegistros().size()>0){
        <h4 align="center"><p>Movimientos de la bodega de la sucursal</p> <p>@bodega.getNombreSucursal()</p></h4>
        <table border="1">
            <tr>
                <th scope="col">Codigo Producto</th>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Stock</th>
                <th scope="col">Fecha Modificacion</th>
                <th scope="col">Razon</th>
            </tr>

        @for(reg <- bodega.getRegistros()){
        <tr>
            <th scope="row">@reg.getCodProd()</th>
            <td>@reg.getNombreProd()</td>
            <td>@reg.getStockProd()</td>
            <td>@reg.getFechaProd()</td>
            <td>@reg.getRazon()</td>
        </tr>
        }
        </table>
        }else{
        <div align="center">
            <strong>No Existen Movimientos de la bodega</strong>
        </div>

        }

        <div class="input-field col s6" align="center">
            <a class="btn waves-effect waves-light" href="@controllers.routes.BodegaController.show(bodega.getNombreSucursal())">Volver</a>
        </div>
        <br>
    </div>
</div>
}