@(bodega: models.Bodega)

@display(producto: models.Product)={
<div class="container">
    <div class="col s12 m7" >
        <div class="card horizontal">
            <div class="card-image">
                <img src="@producto.getUrlfoto()" width="400" height="400">
            </div>
            <div class="card-stacked">
                <div class="card-content" align="left">
                    <p>Nombre: @producto.getNombre()</p>
                    <p>Codigo: @producto.getCodVenta()</p>
                    <p>Cantidad en Inventario: @producto.getStock()</p>
                    <p>Ultima revision: @producto.getVerificacion()</p>
                    <p>Marca: @producto.getMarca()</p>
                    <p>Proveedor: @producto.getProveedor()</p>

                    <div class="row">
                            @helper.form(action = controllers.routes.ProductController.delete(bodega.getNombreSucursal(), producto.getCodVenta())){
                            @helper.CSRF.formField
                            <input type="submit" class="btn waves-effect waves-light" value="Eliminar Producto">
                            }
                    </div>
                    <div class="row">
                        <div class="section">
                            @helper.form(action = controllers.routes.ProductController.edit(bodega.getNombreSucursal(), producto.getCodVenta())){
                            @helper.CSRF.formField
                            <input type="submit" class="btn waves-effect waves-light" value="Editar Producto">
                            }
                        </div>
                        <div class="section">
                            @helper.form(action = controllers.routes.ProductController.cambiarFoto(bodega.getNombreSucursal(), producto.getCodVenta())){
                            @helper.CSRF.formField
                            <input type="submit" class="btn waves-effect waves-light" value="Cambiar Imagen">
                            }
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <br>
</div>
}

@main("Mostrar Datos"){
<div class="container">
    <div class="card grey lighten-5">
    <p><h3 align="center">@bodega.getNombreSucursal - @bodega.getEncargado()</h3></p>
    @if(bodega.getProductos().size()!=0 && !bodega.getProductos().isEmpty()){
    @if(bodega.getProductos().size()<3){
    @helper.form(action= controllers.routes.ProductController.crearProducto(bodega.getNombreSucursal())){
    @helper.CSRF.formField
    <div class="row" align="center">
        <div class="input-field col s6">
            <input class="btn waves-effect waves-light" type="submit" value="Agregar Producto">
        </div>
        <div class="input-field col s6">
            <a class="btn waves-effect waves-light" href="@controllers.routes.BodegaController.reporte(bodega.getNombreSucursal())">Mostrar Registro</a>
        </div>
    </div>

    }
    }
    }else{
    @helper.form(action= controllers.routes.ProductController.crearProducto(bodega.getNombreSucursal()), '_class -> "col s12"){
    @helper.CSRF.formField
    <div class="row" align="center">
        <div class="input-field col s6">
            <input class="btn waves-effect waves-light" type="submit" value="Agregar Producto">
        </div>
        <div class="input-field col s6">
            <a class="btn waves-effect waves-light" href="@controllers.routes.BodegaController.reporte(bodega.getNombreSucursal())">Mostrar Registro</a>
        </div>
    </div>
    }
    }
    @if(bodega.getProductos().size()==3){
    <div class="row" align="center">
        <div class="input-field col s12">
            <a class="btn waves-effect waves-light" href="@controllers.routes.BodegaController.reporte(bodega.getNombreSucursal())">Mostrar Registro</a>
        </div>
    </div>
    }
    @for(producto <- bodega.getProductos()){
    @display(producto)
    }
    </div>
</div>
}